.box {
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    min-height: 400px;
    padding: 60px;
    margin-bottom: 100px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.title {
    font-size: 1em;
}
.submitButton {
    border-radius: 50px;
}

.register {
    margin-top: 20px;
    font-size: 14px;
    color: #3d44c4;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.register a {
    font-weight: bold;
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form div {
    width: 100%;
    max-width: 400px;
}

@media screen and (max-width: 800px), screen and (max-height: 800px) {
    .box {
        padding: 20px;
        margin-bottom: 20px;
    }
    .title {
        font-size: 0.7em;
    }
    .formGroup div {
        max-width: 100%;
    }
    .formGroup label {
        display: none !important;
    }
}
