.container {
    justify-content: center;
    align-items: center;
}
.contactBox {
    max-width: 900px;
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 60px;
    margin-bottom: 100px;
    border-radius: 20px;
    font-size: 0.8em;
}
.leftBox {
    max-width: 600px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    margin-bottom: 100px;
    border-radius: 20px;
    font-size: 0.8em;
}
.userAvatarBox {
    display: flex;
    width: 200px;
    height: 200px;
    border: 10px solid #6829b3;
    border-radius: 50%;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: rgb(176, 176, 176);
}
.userAvatarBox img {
    width: 100%;
}
.submitButton {
    border-radius: 50px;
}
.title {
    font-size: 1em;
}

.login {
    margin-top: 20px;
    font-size: 14px;
    color: #3d44c4;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.login a {
    font-weight: bold;
}
.form {
    width: 100%;
    overflow: hidden;
}
.formGroup {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.formGroup div {
    width: 100%;
    max-width: 300px;
}

@media screen and (max-width: 800px), screen and (max-height: 800px) {
    .contactBox {
        padding: 20px;
    }
    .title {
        font-size: 0.7em;
    }
    .formGroup div {
        max-width: 100%;
    }
    .formGroup label {
        display: none;
    }
}
