.container {
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 950px;
    overflow-x: scroll;
    height: 500px;
}

.itemImageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 180px;
    background-color: rgb(170, 170, 170);
    margin-bottom: 10px;
    border-radius: 30px;
    border: 10px solid #ffcc33;
}
